body {
  background: url("5096160.jpg");
}
h2,
h3 {
  color: goldenrod;
}
#m1 {
  width: 2000px;
  height: 50px;
  background-color: black;
  position: relative;
  top: -10px;
  left: -10px;
}
#m2 {
  width: 1000px;
  height: 450px;
  border-radius: 20px;
  border-style: outset;
  border-color: goldenrod;
  position: relative;
  left: 500px;
}
#m3 {
  position: relative;
  left: 900px;
}
p {
  color: goldenrod;
  position: relative;
  left: 10px;
}
#connect-button {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: goldenrod;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 900px;
  top: 10px;
}
#connect-button:hover {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 900px;
  top: 10px;
}
#ethAmount {
  width: 380px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#deposite-button {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#deposite-button:hover {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: goldenrod;
  background-color: green;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#ethAmount1 {
  width: 380px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#withdraw-button {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#withdraw-button:hover {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: red;
  border-style: outset;
  border-color: black;
  position: relative;
  left: 700px;
  top: 20px;
}
#balance-button {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: goldenrod;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 400px;
  top: 50px;
}
#balance-button:hover {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: black;
  border-style: outset;
  color: white;
  border-color: blue;
  position: relative;
  left: 400px;
  top: 50px;
}
#ethAmount2 {
  width: 380px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 700px;
  top: 20px;
}
#addresstoAmount {
  width: 180px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 695px;
  top: 20px;
}
#addresstoAmount:hover {
  width: 180px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 695px;
  top: 20px;
}
#ethAmount3 {
  width: 130px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 400px;
  top: 50px;
}
#ethAmount4 {
  width: 130px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 1000px;
  top: 50px;
}
#your-amount {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 1000px;
  top: 49px;
}
#your-amount:hover {
  width: 120px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  background-color: mediumvioletred;
  border-style: outset;
  border-color: blue;
  position: relative;
  left: 1000px;
  top: 49px;
}
